<ion-app class="inicio-app">
  <!--Inicio de pagina-->

  <ion-content id="main-content">
      <ion-header>
          <ion-toolbar>
              <ion-buttons slot="start">
                  <ion-menu-button color="secondary"></ion-menu-button>
              </ion-buttons>
              <img class="logo" src="./assets/images/BlinkSeats.png">
          </ion-toolbar>
      </ion-header>
      <ion-content>

          <div class="inicio-app">
              <swiper-container [loop]="true" pagination="true" pagination-clickable="true" space-between="30"
                  autoplay-delay="2500" autoplay-disable-on-interaction="false" pagination-dynamic-bullets="true">
                  <swiper-slide *ngFor="let slide of slides; let i = index">
                      <img src="{{slide.image}}">
                  </swiper-slide>
              </swiper-container>

              <!--<swiper-container [pagination]="true" [slidesPerPage]="2" [loop]="true" pagination-clickable="true" space-between="30"
              autoplay-delay="2500" autoplay-disable-on-interaction="false" pagination-dynamic-bullets="true" >
                  <swiper-slide *ngFor="let slide of event_list" >
                      <img src="{{slide.image}}">
                  </swiper-slide>
              </swiper-container>-->


              <h2><strong>CONCIERTOS</strong></h2>
              <hr />
              <div class="cards">

                  <ion-card>
                      <img src="https://tuboleta.com/imagenes/65babaca5a149.webp" />
                      <ion-card-header>
                          <ion-card-title><b>LA DERECHA - 30 ANIVERSARIO</b></ion-card-title>
                          <ion-card-subtitle>Astor Plaza</ion-card-subtitle>
                      </ion-card-header>

                      <ion-card-content>
                          <div class="container">
                              <div class="box1">Viernes<br><strong>26</strong><br>Abr 2024</div>
                              <div class="box2"><ion-button class="boton-card" shape="round">Comprar
                                      entrada.</ion-button></div>
                          </div>
                      </ion-card-content>
                  </ion-card>

                  <ion-card>
                      <img src="https://tuboleta.com/imagenes/65b81ace8dbdd.webp" />
                      <ion-card-header>
                          <ion-card-title><b>SILVESTRE DANDONG</b></ion-card-title>
                          <ion-card-subtitle>Estadio El Campín</ion-card-subtitle>
                      </ion-card-header>

                      <ion-card-content>
                          <div class="container">
                              <div class="box1">Sabado<br><strong>18</strong><br>Mayo 2024</div>
                              <div class="box2"><ion-button class="boton-card" shape="round">Comprar
                                      entrada.</ion-button></div>
                          </div>
                      </ion-card-content>
                  </ion-card>
                  <div>
                  </div>
              </div>
          </div>
      </ion-content>
  </ion-content>
</ion-app>