<ion-content [fullscreen]="true">
  <div class="contenido">
    <figure class="ion-text-center">
      <img src="../../assets/icon/descargar.png" alt="logo">
    </figure>
    <p class="Login"><b>LOG IN</b></p>

    <form [formGroup]="loginForm" (ngSubmit)="login(loginForm.value)">
      <!--Esto es el item del correo. Donde colocamos la validacion creada llamando el motodo con formControlName-->
      <ion-input labelPlacement="stacked" label="Email" placeholder="email@domain.com"
        formControlName="email"></ion-input>
      <ion-input type="password" label="Password" placeholder="Password" labelPlacement="stacked"
        formControlName="password"></ion-input>
      <ion-button type="submit" [disabled]="!loginForm.valid" shape="round"
        expand="full">login</ion-button>
    </form>

    <p>¿Aun no tienes cuenta?&nbsp;<a HREF="otra_pagina.html"> Crear una cuenta</a></p>
  </div>


</ion-content>