
<ion-content [fullscreen]="true">
  <div class="contenido">
  <figure class="ion-text-center">
      <img src="../../assets/icon/descargar.png" alt="logo">
  </figure>
  </div>
  <p class="text-new"><b>Log In</b></p>
  <div>
    <form class="form-new">
        <ion-item>
          <ion-input type="email" fill="solid" label="Email" labelPlacement="floating" helperText="Enter a valid email"
          errorText="Invalid email"
          ngModel email></ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="password" fill="solid" label="Contraseña" 
          labelPlacement="floating" errorText="Invalid email"
          ngModel email></ion-input>
        </ion-item>
    </form>
  </div>
</ion-content>