<ion-split-pane contentId="content">
  <ion-menu contentId="content" side="start">
    <ion-header>
      <ion-toolbar>
        <ion-title>
          <img class="logo-menu" src="../../assets/images/menu si.png">
        </ion-title>
        <ion-buttons slot="start">
          <ion-button (click)="closeMenu()">
            <ion-icon name="close-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list class="list">
        <ion-nav-link routerLink="/menu/inicio">
          <ion-item><strong>Home</strong></ion-item>
        </ion-nav-link>
        <ion-nav-link routerLink="/menu/deportes">
          <ion-item><strong>Deportes</strong></ion-item>
        </ion-nav-link>
        <ion-item><strong>Conciertos</strong></ion-item>
        <ion-item><strong>Teatro</strong></ion-item>
        <ion-item><strong>Comedia</strong></ion-item>
      </ion-list>
      
      
    </ion-content>
    <ion-footer>
      <ion-item (click)="logout()">
        <ion-icon name="log-out"></ion-icon>
        Cerrar Session
      </ion-item>
    </ion-footer>
  </ion-menu>
  <ion-router-outlet id="content" main></ion-router-outlet>
</ion-split-pane>


