ion-toolbar{
    --background: #593f68;
}
ion-content, ion-item, .list{
    --background: #593f68;
    color: #fbae00;
    background-color: #593f68;
}
.logo-menu{
    width: 40%;
    height: 40%;
    align-items: center;
}