
<ion-content [fullscreen]="true">
  <swiper-container
  [loop]="true" 
  pagination="true" pagination-dynamic-bullets="true" 
  >
    <swiper-slide *ngFor= "let slide of slides; let i = index" [style.background-color] = "slide.color" >
      <h1 class="{{slide.class}}"><b>{{slide.title}}</b></h1>
      <img src="{{slide.image}}">
      <p class={{slide.class}} [innerHTML]="slide.description"></p>
      <ion-button *ngIf="i === 3" shape="round" (click)="goToInicio()">¡Disfrutar!</ion-button> <!--Para que salga el boton en un solo slide-->
    </swiper-slide>
  </swiper-container>
</ion-content>


