.inicio-app{
  background-color: #572975;
}

ion-menu::part(backdrop) {
    background-color: rgba(255, 0, 255, 0.5);
  }
  
  ion-menu::part(container) {
    border-radius: 0 20px 20px 0;
  
    box-shadow: 4px 0px 16px rgba(255, 0, 255, 0.18);
  }
  ion-toolbar{
    width: max-content;
    --background: #572975;
  }

  h2{
    font-size: 1.75em;
    background-color: #572975;
    color: #d09306;
    text-align: center;
    
  }
  .h22{
    margin-top:30%;
  }

    hr {
      
      height: 5px !important;
      width: 300px !important;
      background: #815c97 !important;
      display: block !important;
      opacity: 20 !important;
      visibility: visible !important;
    }
  
  
.logo{
    width: 50%;
    height: 50%;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 50px;
}
swiper-slide img{
    display: flex;
    width: 600px;
    height: 200px;
    
}
swiper-slide {
    display: flex;
    flex-direction: column;
    align-items:start;
    justify-content: center;
    text-align: center;
    
}
ion-card img{
  width: 100%;
  height: 60%;
  
}
ion-card{
  height: 347px;
  margin: 10px;
  background-color: #d09306;

  color:#3d5f0a
}ion-card-subtitle{
  color: #3d5f0a;
}
.container {
  white-space: nowrap; /* Evita el espacio entre elementos */
}
ion-card-header{
  padding:1px;
  text-align: center;

}
ion-card-title{
  font-size: initial;
  color:#283e06;
}

.box1, .box2 {
  display: inline-block;
  width: 30%; /* O ajusta el ancho según tus necesidades */
  box-sizing: border-box; /* Incluye padding y borde en el ancho */
  vertical-align: top;
  text-align: center; /* Alinea los elementos en la parte superior */

}
.boton-card{
  margin-top: 10px;
    margin-left: 1px 
}

.cards{
  margin-top: 15px;
  padding: 20px;
  align-items: center;
  justify-content: center;
}